﻿@model IEnumerable<ProductInfo>

@{
    ViewBag.Title = "Katalog";
}

<h2>Katalog</h2>

@Html.Partial("_Categories")


<h3>Aktuell bei uns im Angebot</h3>

@foreach (var p in Model)
{
    <div>@p.ProductName</div>
}
