﻿@model CatalogViewModel

@{
    ViewBag.Title = Model.CurrentCategory?.CategoryName ?? "Katalog";
}

@Html.Partial("_Categories")

@if (Model.CurrentCategory == null)
{
    <h3>Render Partial with three random products</h3>
}
else
{
    <table class="table">
        <caption>Kategorie: @Model.CurrentCategory.CategoryName</caption>
        <thead>
            <tr>
                <th>
                    Artikel
                </th>
                <th>
                    Einheit
                </th>
                <th>
                    Preis
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Products)
            {
                <tr>
                    <td>
                        @p.ProductName
                    </td>
                    <td>
                        @p.QuantityPerUnit
                    </td>
                    <td>
                        @p.UnitPrice
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

