﻿@{
    Layout = "~/Views/_MainLayout.cshtml";
}

<h2>Backend</h2>

<ul>
    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
    <li>@Html.ActionLink("Artikel", "Index", "Products")</li>
    <li>@Html.ActionLink("Statistiken", "Index", "Statistics")</li>
</ul>

@RenderBody()


