﻿@{
    Layout = "~/Views/_MainLayout.cshtml";
}

<h2>Shop</h2>

<ul>
    <li>@Html.ActionLink("Home", "Index", "Default")</li>
    <li>@Html.ActionLink("Katalog", "Index", "Catalog")</li>
</ul>


@RenderBody()


