﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/Assets/vendors.css" rel="stylesheet" />
</head>
<body>
    <ul>
        <li><a href="@Url.Action("Index", "Default", new { area = "Shop" })">Shop</a></li>
        <li><a href="@Url.Action("Index", "Dashboard", new { area = "Backend" })">Backend</a></li>
    </ul>
    <div>
        @RenderBody()
    </div>
    <script src="~/Assets/vendors.js"></script>
</body>
</html>
